:root {
    --wraith-white:     #FFFFFF;
    --ash-grey:         #D7D7D7;
    --smoke-grey:       #ACACAC;
    --slate-grey:       #636363;
    --dark-grey:        #3C3C3C;
    --shadow-black:     #191919;

    --flesh-red-0:      #C9A2A2;
    --flesh-red-1:      #C06F6F;
    --volcanic-red:     #FF0000;
    --blood-red-0:      #B60000;
    --blood-red-1:      #850000;
    --blood-red-2:      #520000;
    
    --dust-yellow:      #FFDE43;
    --sand-yellow:      #FFBC2C;
    --amber-yellow:     #FFA800;
    --citrus-orange:    #FF8A00;
    --burnt-orange:     #D97500;    
    --dirt-orange:      #B05F00;

    --ash-blue:         #A4A7C4;
    --smoke-blue:       #858BBC;
    --volcanic-blue:    #565C94;
    --dark-blue:        #3C416E;
    --night-blue:       #2A2C3F;
    --shadow-blue:      #1C1D25;

    --font-xsmall:      10px;
    --font-small:       12px;
    --font-medium:      15px;
    --font-large:       18px;
    --font-xlarge:      24px;

    --background: linear-gradient(90deg, var(--shadow-black), var(--shadow-blue) 10%, 
                    var(--night-blue), var(--shadow-blue) 90%, var(--shadow-black));

    background: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    color: var(--ash-blue);
    text-shadow: 2px 2px var(--dark-blue);
}

hr {
    border-color: var(--dark-blue);
    clear: both;
}

h1 {
    color: var(--volcanic-blue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

h1.center {
    text-align: center;
    margin: 10px auto;
}

#header-nav {
    position: sticky;
    top: 0;
    background: var(--background);
    border-bottom: 2px solid var(--shadow-blue);
    z-index: 999;
}

header li, nav li {
    list-style-type: none;
    display: inline-flex;
}

header li {
    margin: 0 15px 5px;
}

nav li {
    margin: 0 40px;
}

.ring-link a:hover {
    box-shadow: 0 2px 3px var(--amber-yellow);
    border-radius: 50%;
}

header .right {
    float: right;
}

header .left {
    float: left;
}

label {
    color: var(--wraith-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-small);
}

input {
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
}

input[type=text] {
    border: 2px solid var(--smoke-blue);
    background: var(--ash-blue);
}

input[type=submit] {
    border: 2px solid var(--citrus-orange);
    background: linear-gradient(var(--citrus-orange) 10%, 
                var(--sand-yellow), var(--citrus-orange) 90%);
    color: var(--shadow-black);
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: fit-content;
}

input[type=submit]:hover {
    border: 2px solid var(--amber-yellow);
    background: linear-gradient(var(--burnt-orange) 10%, 
                var(--amber-yellow), var(--burnt-orange) 90%);
}

input[type=button] {
    width: fit-content;
    text-transform: uppercase;
    border: 2px solid var(--dark-blue);
    background: linear-gradient(var(--dark-blue), var(--volcanic-blue), var(--dark-blue));
    color: var(--ash-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=button]:hover {
    width: fit-content;
    text-transform: uppercase;
    border: 2px solid var(--volcanic-blue);
    background: linear-gradient(var(--volcanic-blue), var(--dark-blue), var(--volcanic-blue));
    color: var(--ash-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--volcanic-blue);
    font-size: var(--font-small);
    font-weight: bold;
    text-transform: uppercase;
}

option {
    background: var(--dark-blue);
    color: var(--wraith-white);
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--font-small);
    color: var(--volcanic-blue);
    margin: 0;
    padding: 0 40px;
}

.nav {
    margin: 0;
    padding: 0 50px;
}

.nav-selection {
    height: 40px;
}

.social-media {
    display: inline-flex;
    color: var(--amber-yellow);
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-small);
    margin: 0 auto 10px;
    padding: 0;
    position: relative;
    width: 50%;
    text-align: center;
}

.social-media li {
    display: inline-block;
    margin: 0 20px;
}

.round-img {
    background: var(--slate-grey);
    border-radius: 50%;
    height: calc(100% - 50px);
    width: 100%;
}

.box-img {
    background: var(--slate-grey);
    border-radius: 5px;
    height: calc(100% - 50px);
    width: 100%;
}

.item-text {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: var(--wraith-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.form1 {
    background: linear-gradient(90deg, var(--dark-blue) 10%, 
                var(--volcanic-blue), var(--dark-blue) 90%);
    border-radius: 5px;
    border: 2px solid var(--dark-blue);
}

.text-link {
    color: var(--flesh-red-1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-xsmall);
    margin-top: 10px;
}

.text-link > a:hover {
    color: var(--flesh-red-0);
}

.center {
    margin: 0 auto;
    width: fit-content;
}

.descriptive-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--wraith-white);
    font-size: var(--font-medium);
}

#copyright {
    color: var(--dust-yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-xsmall);
    text-align: center;
}