:root {
    --wraith-white:     #FFFFFF;
    --ash-grey:         #D7D7D7;
    --smoke-grey:       #ACACAC;
    --slate-grey:       #636363;
    --dark-grey:        #3C3C3C;
    --shadow-black:     #191919;

    --flesh-red-0:      #C9A2A2;
    --flesh-red-1:      #C06F6F;
    --volcanic-red:     #FF0000;
    --blood-red-0:      #B60000;
    --blood-red-1:      #850000;
    --blood-red-2:      #520000;
    
    --dust-yellow:      #FFDE43;
    --sand-yellow:      #FFBC2C;
    --amber-yellow:     #FFA800;
    --citrus-orange:    #FFA800;
    --burnt-orange:     #FFA800;
    --dirt-orange:      #B05F00;

    --ash-blue:         #A4A7C4;
    --smoke-blue:       #858BBC;
    --volcanic-blue:    #565C94;
    --dark-blue:        #3C416E;
    --night-blue:       #2A2C3F;
    --shadow-blue:      #1C1D25;

    --font-xsmall:      10px;
    --font-small:       12px;
    --font-medium:      15px;

    --background: linear-gradient(90deg, var(--shadow-black), var(--shadow-blue) 10%, 
                    var(--night-blue), var(--shadow-blue) 90%, var(--shadow-black));

    background: var(--background);
}

hr {
    border-color: var(--dark-blue);
    clear: both;
}

#header-nav {
    position: sticky;
    top: 0;
    background: var(--background);
    border-bottom: 2px solid var(--shadow-blue);
    z-index: 999;
}

header li, nav li {
    list-style-type: none;
    display: inline-flex;
}

header li {
    margin: 0 15px 5px;
}

nav li {
    margin: 0 40px;
    display: inline-flex;
}

header .right, nav .right {
    float: right;
}

header .left, nav .left {
    float: left;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--font-small);
    color: var(--volcanic-blue);
    margin: 0;
    padding: 0 40px;
}

.nav {
    margin: 0;
    padding: 0 50px;
}

.nav-selection {
    height: 40px;
}

.social-media {
    color: var(--amber-yellow);
    list-style-type: none;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-small);
    margin: 0 auto 10px;
    padding: 0;
    position: relative;
    left: 35%;
    width: 50%;
}

.social-media li {
    margin: 0 5%;
}   

.featured-item {
    float: left;
    height: 250px;
    width: 200px;
    margin: 15px 30px;
    position: relative;
    left: 8%;
}

.featured-item .item-name {
    font-size: var(--font-medium);
}

.featured-item .item-price {
    font-size: var(--font-small);
}

.round-img {
    background: var(--slate-grey);
    border-radius: 50%;
    height: calc(100% - 50px);
    width: 100%;
}

.item-text {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: var(--wraith-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

#logo {
    position: relative;
    left: 3%;
}

#home-banner {
    width: 100%;
}

#copyright {
    color: var(--dust-yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-xsmall);
    text-align: center;
}