@import "/global.css";

.col2-left {
    float: left;
    width: 45%;
    margin: 10px 5px 10px 15px;
}

.col2-right {
    float: right;
    width: 45%;
    margin: 10px 15px 10px 5px;
}

#password-rules {
    color: var(--citrus-orange);
    margin: 40px auto;
}

#sign-up {
    width: 500px;
    margin: 0 auto;
}

#sign-up-submit {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10px;
}

#sign-up-page {
    margin: 10vh 0;
}

#message {
    color: var(--volcanic-red);
    font-family: monospace;
    margin: 20px auto;
    text-align: center;
    white-space: pre-wrap;
}