h1 {
    display: inline-block;
}

#products {
    width: 90%;
    margin: 0 auto;
}

.product {
    display: inline-block;
    margin: 20px 57px;
    height: 250px;
    width: 200px;
}

.product-text {
    color: var(--wraith-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.product-name {
    font-size: var(--font-medium);
    overflow: hidden;
}

.product-price {
    font-size: var(--font-small);
}

.catalog-page-num {
    padding: 1px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-large);
    font-weight: bold;
    background: var(--amber-yellow);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--volcanic-red);
}

#catalog-toolbar {
    width: 675px;
    margin: 0 auto;
}

#searchbar {
    display: inline-block;
    width: 200px;
    margin: 0 15%;
}

#filter-button {
    display: inline-block;
}

#catalog-page {
    width: 75%;
}

#catalog-page-nums {
    margin: 10px auto 30px auto;
}

#create-product {
    position: relative;
    margin: 25px 47% 0;
}