.wishlist-item {
    margin: 20px 20px;
    display: inline-block;
    width: 400px;
}

.wishlist-item-image {
    height: 200px;
    width: 200px;
}

.wishlist-item-name {
    color: var(--amber-yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-xlarge);
    display: inline-block;
    margin-bottom: 15px;
}

.wishlist-item-price {
    color: var(--volcanic-red);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-large);
    margin-bottom: 25px;
}

.wishlist-item-info {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
}

#wishlist-items {
    margin: 0 auto;
    width: 1350px;
}

#wishlist-page {
    width: 90%;
    margin: 5vh auto;
}

#wishlist-page h1 {
    margin-bottom: 40px;
}

#add-cart-button {
    margin-bottom: 25px;
}

#delete-item {
    color: var(--ash-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#delete-item:hover {
    color: var(--wraith-white); 
}